* {
    padding: 0;
    margin: 0;
}

#d1 {
    width: 1300px;
    margin: 50px auto;
}

table {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

thead>tr>th {
    background-color: rgba(128, 128, 128, 0.11);
    /* background-color: black; */
    /* color: white; */
    width: 50px;
    max-width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

thead>tr>th {
    width: 50px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
}

#ts {
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    background-color: rgb(1, 150, 88);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    z-index: 99999;
    display: none;
}

tbody {
    text-align: center;

}

tbody>tr {
    height: 70px;
    max-height: 70px;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
}
tbody>tr:last-child {
    border: none;
}
tbody>tr>td {
    width: 8%;
    height: 70px;
    font-size: 16px;
}

tbody>tr>td:nth-of-type(1) {
    width: 4% !important;
}

tbody>tr>td:nth-of-type(8) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15%;
}

tbody>tr>td:nth-of-type(11) {
    width: 11%;
}

tbody>tr>td>button {
    padding: 0px 10px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

tbody>tr>td>button:nth-of-type(2) {
    margin-left: 5%;
}

tbody>tr>td>button:nth-of-type(1) {
    margin-right: 5%;
}

.modal-footer {
    text-align: center;
}

body>p {
    text-align: left;
    margin: 30px 50px;
    height: 40px;
    position: relative;
}

body>p>button {
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    border: none;
    color: white;
    border-radius: 0px 5px 5px 0px;
    background-color: #4E6EF2;
    font-size: 18px;
    font-weight: bold;
    font-family: "宋体";
}

body>p>button:nth-of-type(2) {
    position: absolute;
    right: 0px;
    border-radius: 5px;
    line-height: 100%;
}

body>p>input {
    vertical-align: top;
    width: 300px;
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(195, 199, 206);
    border-radius: 5px 0px 0px 5px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}
#myModal span{
    display:inline-block;
    width: 45% !important;
}
#myModal2 span{
    display:inline-block;
    width: 45% !important;
}
